body {
	background-color: #efefef;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);

	background-size: 8px 8px;	
}

@media (max-width: 480px) {
    #main-content {
        margin: 0 10px;
    }

	table.tablesorter th[data-column="3"] {
		display: none;
	}

	table.tablesorter th[data-column="3"] {
		display: none;
	}

	table.tablesorter td.notes {
		display: none;
	}
}

.user-lift-list {
}

/*
.lift-group {
	clear: both;
}

.lift-group .lifts {
}

.lift-group .lifts .lift {
	border: 1px solid #555;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	display: inline-block;

	width: 140px;
	min-height: 70px;
	vertical-align: top;
}

.lift-group .lifts .lift .name {
	margin-bottom: 10px;
	text-align: center;
}

.lift-group .lifts .lift .user-lift {
	font-size: 0.8em;
}
*/

#main-content [class*="span"],
#main-content .uneditable-input[class*="span"],
#main-content .row-fluid [class*="span"] {
	margin-bottom: 10px;
}

#main-content .thumbnail {
	border-radius: 1px;
	box-shadow: 1px 1px 6px #ccc;
	background-color: #fefefe;
}

input[name="date"] {
	font-size: 18px;
}

#header .navbar-inner {
	padding-right: 10px;
	padding-left: 10px;

	background-image: -webkit-linear-gradient(top, #666, #333);
}

#header .navbar {
	margin-bottom: 0px;
}

#header .navbar .brand {
	text-shadow: 0 1px 0 #222;
	color: #eee;
}

#header .navbar .nav > li > a {
	padding: 10px 8px;
	text-shadow: 0 1px 0 #222;
	color: #eee;
}

#main-content h2 {
	font-size: 20px;
	line-height: 24px;
}

#main-content summary {
	font-size: 1.3em;
	font-weight: bold;
	margin: 10px 0;
}

#main-content h4 {
	margin: 0;
}

#main-content .form-horizontal .control-label {
	float: left;
	text-align: right;
	width: 50px;
	margin-right: 15px;
}

#main-content [name="reps-other"] {
	margin-top: 10px;
	margin-left: 65px;
}

#main-content [type="text"] {
	width: 100px;
}

#main-content button{
	margin-left: 65px;
}

body .btn-primary {
	background-color: #0572BD;
	background-image: -webkit-linear-gradient(top, #067CCD, #045E9C);

}

body .btn-primary:active,
body .btn-primary:hover {
	background-color: #045E9C;
}
