body {
	min-width: 320px;
}

#main-content {
	margin: 0 10px;
}

.user-lift-list {
	max-width: 400px;
}

/*
.lift-group {
	clear: both;
}

.lift-group .lifts {
}

.lift-group .lifts .lift {
	border: 1px solid #555;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	display: inline-block;

	width: 140px;
	min-height: 70px;
	vertical-align: top;
}

.lift-group .lifts .lift .name {
	margin-bottom: 10px;
	text-align: center;
}

.lift-group .lifts .lift .user-lift {
	font-size: 0.8em;
}
*/
